body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #360225;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    max-width: 500px;
    margin: 2em auto;
    padding: 1em;
    background-color: #fcd1dd;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input[type="radio"] {
    margin-right: 0.5em;
}

input[type="checkbox"] {
    margin-right: 0.5em;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 0.5 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #444;
}

footer {
    background-color: #360225;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}